body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

header {
  background-color: rgba(30,168,240,255);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  padding: 0.4rem;
  box-shadow: 0px 2px 10px rgb(102, 102, 102);
}

.login-header {
  text-align: right;
}

img {
  height: 120px;
}

.login-container {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 2rem auto;
  font-family: monospace;
  font-size: large;
}

.login-container2 {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 2rem auto;
  font-family: monospace;
  font-size: large;
}

/* .student-login {
  border: 1px solid #acacac;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(207, 206, 206);
} */

h1,
h2 {
  margin: 0;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: aliceblue;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}


button {
  width: 100%;
  padding: 0.5rem;
  background-color: #1e7fe7;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size : medium;
}

input:focus::placeholder {
  color: transparent;
}

button:hover {
  background-color: #0056b3;
}